jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.24.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
numpy==1.24.3
mediapipe==0.10.7
tensorflow==2.13.0
matplotlib==3.7.2
matplotlib-inline==0.1.6
tensorboard==2.13.0
tensorboard-data-server==0.7.1